# Temel sistem
torch

# Hugging Face Ailesi (API hatası vermemesi için YENİ olmalı)
huggingface-hub>=0.23.0
transformers>=4.41.0
accelerate>=0.30.0
sentence-transformers>=3.0.0

# LangChain Ailesi (Kodun çalışması için ESKİ ve SAĞLAM sürüm olmalı)
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52

# Araçlar
faiss-cpu
deep_translator
gradio
